<template>
    #[[$END$]]#
</template>

<script type="application/javascript">
    import Vue from "vue";
    import Component from "vue-class-component";
    
    export default @Component({
    
    })
    class ${COMPONENT_NAME} extends Vue
    {
        
    }
</script>